<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".fakecs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v6.0"/>
        <providerOption name="CompilerLocation" value="C:\Path\To\Nowhere\csc.exe"/>
        <providerOption name="CompilerServerTTL" value="42"/>
        <providerOption name="WarnAsError" value="true"/>
        <providerOption name="UseAspNetSettings" value="false"/>
        <providerOption name="CustomSetting" value="foo"/>
        <providerOption name="AnotherCoolSetting" value="bar"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".fakevb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CustomSetting" value="foo2"/>
        <providerOption name="AnotherCoolSetting" value="bar2"/>
      </compiler>
    </compilers>
  </system.codedom>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
